<h1>Tools</h1>
<!--div class="">
  <form class="field" action="index.html" method="post">
    <input type="text" name="q" <%= @q %> >
    <button type="submit" name="Buscar"></button>
  </form>
</div-->
<!-- <div class="container"> -->


    <!-- <div class="col-md-6 ">

      <p>"hola"</p>
      <div class="field">
        <% form_tag tools_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>

            <%= submit_tag "Search sd", :name => nil %>
          </p>
        <% end %>

      </div>
    </div> -->

<!-- </div> -->

<div class="container">
  <div class="row">


  <div class="col-md-6">
    <div class="field">
      <%= form_for @tool do |f| %>

        <!--%= f.text_field :id, placeholder: "Id", autocomplete: "on", class: "form-control"%-->

        <div class="field">
          <%= f.text_field :title, placeholder: "Nombre", autocomplete: "on", class: "form-control"%>
        </div>

        <div class="field">
          <%= f.text_field :quantity, placeholder: "Número de herramientas", class: "form-control"%>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-1 field">
              <%= f.submit "Buscar", formaction: search_tool_path ,class:"btn let"%>
            </div>
            <div class="col-md-1 field">
              <%= f.submit "Editar", formaction: edit_tool_path ,class:"btn let"%>
            </div>


            <div class="col-md-2">
              <%= f.submit "Guardar", name: "Guardar" , class:"btn let"%>
            </div>


          </div>

        </div>

      <%end%>
    </div>
  </div>
  <div class="col-md-1 field">
    <button type="submit" name="button" formaction="pick_tool_path">hola</button>
  </div>

  <div class="field">
    <input type="button" value="Prestar herramientas" onClick="window.location = 'lends';"  class="btn let">

  </div>
  </div>
</div>



<form class="field" >
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

  <ul id="myUL">
    <% @tools.each do |tool| %>
     <li><a href="#" class="list-group-item"><%= tool.title %><span class="badge"> <%= tool.quantity %> </span></a></li>
    <% end %>

  </ul>
   <button type="button">Click Me!</button>
  <button type="submit" formaction="pick_tool_path"> hola </button>
</form>


<script>
function myFunction() {
    console.log("HOLAHOAKJFOFHE");
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
