<h1>Tools</h1>
<!--div class="">
  <form class="field" action="index.html" method="post">
    <input type="text" name="q" <%= @q %> >
    <button type="submit" name="Buscar"></button>
  </form>
</div-->
<!-- <div class="container"> -->


    <!-- <div class="col-md-6 ">

      <p>"hola"</p>
      <div class="field">
        <% form_tag tools_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>

            <%= submit_tag "Search sd", :name => nil %>
          </p>
        <% end %>

      </div>
    </div> -->

<!-- </div> -->

<div class="container">
  <div class="row">


  <div class="col-md-6">
    <div class="field">
      <%= form_for @tool do |f| %>

        <!--%= f.text_field :id, placeholder: "Id", autocomplete: "on", class: "form-control"%-->

        <div class="field">
          <%= f.text_field :title, placeholder: "Nombre", autocomplete: "on", class: "form-control"%>
        </div>

        <div class="field">
          <%= f.text_field :quantity, placeholder: "Número de herramientas", class: "form-control"%>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-1 field">
              <%= f.submit "Buscar", formaction: search_tool_path ,class:"btn let"%>
            </div>
            <div class="col-md-1 field">
              <%= f.submit "Editar", formaction: edit_tool_path ,class:"btn let"%>
            </div>
            <div class="col-md-2 field">
              <%= f.submit "Guardar", name: "Guardar" , class:"btn let"%>
            </div>


          </div>

        </div>

      <%end%>
    </div>
  </div>


  <div class="field">
    <input type="button" value="Prestar herramientas" onClick="window.location = 'lends';"  class="btn let">

  </div>
  </div>
</div>
