<h1>Control#index</h1>
<p>Find me in app/views/control/index.html.erb</p>

<header>
  <nav>
    <ul>
      <li>
        <h1>TooLends</h1>
      </li>
    </ul>
  </nav>
</header>
<div class="field">
  <label>Herramientas</label>
  <% @tools.each do |tool| %>
  <div class="field">
    <%= check_box_tag "tools[]", tool.id %>
    <%= tool.title %>
  </div>

  <%end%>
</div>


<div class="">
  <% @students.each do |student| %>
    <%= student.name %>
    <%= student.code %>
  <%end%>
</div>

<%= form_tag("/control/index", method: 'get') do %>
  <%= label_tag "Search for:" %>
  <%= text_field_tag "title" %>
  <%= submit_tag 'Search' %>
<% end %>

<!--%= @pro.each do |p| %>
  <!--%= p.title %-->
<!--% end %-->
<div>
<% @tools.each do |tool| %>
<div class="field">
  <%= check_box_tag "tools[]", tool.id %>
  <%= tool.title %>
</div>
<%end%>
</div>
