<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>
<%= form_for(@students) do |f| %>
  <div class="field">
  <%= f.text_field :code, placeholder: "Código del carnet", class: "form-control"%>
  </div>
  <div class="field">
    <%= f.text_field :name, placeholder: "Nombre", class: "form-control"%>
  </div>
  <div class="field">
    <%= f.text_field :lastname, placeholder: "Apellido", class: "form-control"%>
  </div>
  <div class="field">
      <%= f.text_field :email, placeholder: "Correo universitario", class: "form-control"%>
  </div>
  <div class="field">
      <%= f.text_field :cel, placeholder: "Celular", class: "form-control"%>
  </div>

    <%= f.submit "Guardar"%>
  </div>
<%end%>

<div class="field">
  <h1>Herramientas</h1>
  <% @tools.each do |tool| %>
  <div class="field">
    <%= check_box_tag "tools[]", tool.id %>
    <%= tool.title %>
  </div>

  <%end%>
</div>
