<h1>Lends</h1>

<%= form_tag("/lends/index", method: 'get') do %>
  <%= label_tag "Search for:" %>
  <%= text_field_tag :Search, params[:Search] %>
  <%= submit_tag 'Search' %>
<% end %>

<!--header>
  <nav>
    <ul>
      <li>
        <h1>TooLends</h1>
      </li>
    </ul>
  </nav>
</header-->

<div class="">
  <% @students.each do |student| %>
    <%= student.name %>
    <%= student.code %>
    <%= student.taguid %>
  <%end%>
</div>






<%= form_for(@lends) do |f| %>
  <div class="field">
    <%= f.text_field :uid, placeholder: "Nombre", class: "form-control"%>
  </div>
  <div class="field">
    <h2>Herramientas más frecuentes</h2>
    <% i=0 %>
    <% @frecuentes.each do |fre| %>
      <div class="field">
        <%= check_box_tag "tools[]", i %>
        <%= fre %>
        <% i= i+1%>
      </div>
    <%end%>



  </div>

  <div>
  <h2>Herramientas</h2>
  <% @tools.each do |tool| %>
  <div class="field">
    <%= check_box_tag "tools[]", tool.id %>
    <%= tool.title %>
  </div>
  <%end%>
  </div>


  <div>
    <%= f.submit "Guardar"%>
  </div>
<%end%>
