<h1>Lends</h1>

<%= form_tag("/lends/index", method: 'get') do %>
  <%= label_tag "Search for:" %>
  <%= text_field_tag :Search, params[:Search] %>
  <%= submit_tag 'Search' %>
<% end %>


<!--header>
  <nav>
    <ul>
      <li>
        <h1>TooLends</h1>
      </li>
    </ul>
  </nav>
</header-->

<!--div class=""-->
  <!--% @students.each do |student| %-->
    <!--%= student.name %-->
    <!--%= student.code %-->
    <!--%= student.taguid %-->
  <!--%end%>
</div-->

<!--% unless @lend.student.nil? %-->
<%= current_student.id %>
<%= current_student.name %>

<!--%end%-->


<%= form_for(@lends, remote: true, html: {id: "comments-form", :"data-type" => "json" }) do |f| %>
  <div class="field">
    <%= f.text_field :uid, placeholder: "tagUID", class: "form-control"%>
  </div>
  <div class="field">
  <!--%= f.text_field :student_id, placeholder: "Código del estudiante", class: "form-control"%-->
  </div>
  <div class="field">
    <!--%= f.text_field :tool_id, placeholder: "Herramienta", class: "form-control"%-->
  </div>
  <div>
  <% @tools.each do |tool| %>
  <div class="field">
    <%= check_box_tag "@herra[]", tool.id %>
    <%= tool.title %>
  </div>
  <%end%>
  </div>
  <div>
    <%= f.submit "Guardar"%>
  </div>
<%end%>
