<div class="container">
<h1>Lends</h1>


 <!--%= form_tag("/lends/index", method: 'get') do %-->
  <!--%= label_tag "Search for:" %-->
  <!--%= text_field_tag :Search, params[:Search] %-->
  <!--%= submit_tag 'Search' %-->
<!--% end %-->


<!--header>
  <nav>
    <ul>
      <li>
        <h1>TooLends</h1>
      </li>
    </ul>
  </nav>
</header-->

<!--div class=""-->
  <!--% @students.each do |student| %-->
    <!--%= student.name %-->
    <!--%= student.code %-->
    <!--%= student.taguid %-->
  <!--%end%>
</div-->

<!--% unless @lend.student.nil? %-->
<!--%= current_student.id %> -->
 <!--%= current_student.name %> -->

<!--%end%-->


<%= form_for(@lends, remote: true, html: {id: "comments-form", :"data-type" => "json" }) do |f| %>
  <div class="row">
    <div class="col-sm-8">
      <%= f.text_field :uid, placeholder: "tagUID", class: "form-control"%>

    </div>
    <div class="col-sm-4">
          <%= f.submit "Buscar", formaction: student_name_path ,class:"btn let"%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 field">
      <%= f.text_field :name, placeholder: "Nombre", value: @name,class: "form-control", :readonly => true%>
    </div>
    <div class="col-sm-4 field">
        <%= f.submit "Guardar", class:"btn let", id: "show" %>
    </div>
  </div>

  <div class="field">
  <!--%= f.text_field :student_id, placeholder: "Código del estudiante", class: "form-control"%-->
  </div>
  <div class="field">
    <!--%= f.text_field :tool_id, placeholder: "Herramienta", class: "form-control"%-->
  </div>

<%end%>
<div class="field">
<!--% @tools.each do |tool| %-->
<!--div class="field"-->
  <!--%= check_box_tag "@herra[]", tool.id %-->
  <!--%= tool.title %-->
<!--/div-->
<!--%end%> -->
<div class="row">
  <div class="col-sm-6">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." hidden>
  </div>
  <div class="col-sm-6">
    <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for names.." hidden>
  </div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#show").click(function(){
      $("ul").show();
      $("#myInput").show();
      $("#myInput2").show();
      $("#hide").show();
    });
  });
  </script>

  <div class="row">
    <div class="col-sm-6">
      <ul id="myUL" hidden>
        <% @tools.each do |tool| %>
        <li> <%= link_to tool.title , add_path(:name => tool.title ) %> <span  class="badge"> <%= tool.quantity %> </span></li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul id="myUL2" hidden>
        <% @tools.each do |tool| %>
        <li> <%= link_to tool.title , add_path(:name => tool.title ) %> <span  class="badge"> <%= tool.quantity %> </span></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-10">
      <div class="wrapper">
      <button id="hide" class="estilo" hidden>Generar Prestamo </button>
    </div>
    </div>
  </div>

  </div>
</div>
