<!DOCTYPE html>
<html>
  <head>
    <title>Toolends</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--link rel="stylesheet" href="../css/navbar.css"-->
  </head>

  <body>
    <%= render "partials/navigation" %>
      <% if notice or alert %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <div style="width:80%; margin:0 auto;">
        <%= yield %>
      </div>

  </body>
</html>
